
<!DOCTYPE html>
<!--Author: Jonathan Martinez -->
<!--Contributors: Chase Moeller-->
<html lang="en">
    <head>        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <meta name="description" content="One of many pages">
        <meta name="keyword" content="Just a page">
        <link rel="stylesheet" href="{{ url_for('static', filename='homeStyle.css') }}">
    </head>
        
    <body>

        <div class="header">
            <a href="home.html"><img src="static/logo.png" height="100" width="300" class="left" alt=""/></a>
        </div>

        <p>
            <hr>
        </p>

        <div class="navbar">
            <div class="container">
                <nav>
                    <ul class="primary-nav">   
                        <li class="current"><a href="#">Home</a></li>
                        <li><a href="{{ url_for('static', filename='base.html') }}">Upload</a></li>
                        <li><a href="{{ url_for('static', filename='base.html') }}">Visualize</a></li>
                        <li><a href="{{ url_for('static', filename='base.html') }}">Export</a></li>
                        <li><a href="{{ url_for('static', filename='base.html') }}">Admin</a></li>
                        <li><a href="{{ url_for('static', filename='about.html') }}">About</a></li>
                    </ul>
                    <ul class="secondary-nav">   
                        <li><a href="{{ url_for('static', filename='base.html') }}">How To Access</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <section class="login-section">
            <div class="container">
                <div class="upper-log">
                    <h3 class="upper-log-head">Please Enter First and Last Name to View/Configure Data:</h3>
                    <form action="{{ url_for('static', filename='base.html') }}">
                        <label hidden for="full-name">Name</label>
                        <input class="name-input" type="text" id="full-name" name="full-name">
                    </form>
                </div>
                <p><h3 class="Or">Or</h3></p>          
                <div class="lower-log">
                    <h3 class="lower-log-head">Login With UNCC Google Account</h3>
                    <a href="{{ url_for('static', filename='base.html') }}">
                        <button class="login-google-button" type="button">Login With Google</button>
                    </a>
                </div>
            </div>
        </section>
    </body>
</html>