<!-- Website: Jiu-Jitsu Community Hub -->
<!-- Page: Home Page / Index -->
<!-- Author: Chase Moeller -->

<!DOCTYPE html>
<html lang="en">
<head>
<title>Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='defaultStyle.css') }}">
</head>
<body>

<div class="header">
	<a href="index.html"><img src="/static/logo.png" height="100" width="300" class="left" alt="" /></a>
</div>

<hr class="solid">

<!-- Navigation Bar -->
<div class="navbar">
<a href="{{ url_for('static', filename='base.html') }}">About</a>
<a href="{{ url_for('static', filename='base.html') }}">Features</a>
<a href="{{ url_for('static', filename='base.html') }}">Who This Is For</a>
<a href="{{ url_for('static', filename='base.html') }}">How to Access</a>
</div>

<div class="main">

</div>

<hr>

<!--  Validation links -->
<footer>
 <a href="https://validator.w3.org/check?uri=referer">Validate HTML</a> <br>
 <a href="https://jigsaw.w3.org/css-validator/check/referer">Validate CSS</a>
</footer>

</body>
</html>
