{% extends 'base.html' %}
{% block title %}
<title>Login Page</title>
{% endblock %}
{% block loginstatus %}
    {% if loggedIn == True: %}
    <li><a href="{{ url_for('logout') }}">Logout</a><li class="username"> User: {{name}} </li></li>
    {% else %}
        <li><a href="{{ url_for('signup') }}">Sign up</a></li>
    {% endif %}
{% endblock %}
{% block content %}

    <div class="flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if loggedIn: %}
                    <h3 class="flash-success"> 
                    {{ message }}
                    </h3>
                {% else: %}
                    <h3 class="flash-error"> 
                    {{ message }}
                    </h3>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
        <section class="login-section">
            <div class="container">
                <div class="upper-log">
                    <h3 class="upper-log-head">Please enter first and last name to View/Configure Data:</h3>
                    <form action="{{ url_for('login') }}" method="POST">
                        <label for="first-name">First Name</label>
                        <input class="name-input" type="text" id="first-name" name="first-name">
                        <br>
                        <label for="last-name">Last Name</label>
                        <input class="name-input" type="text" id="last-name" name="last-name">
                        <br>
                            <button>Login</button>
                    </form>
                </div>
                <p><h3 class="Or">Or</h3></p>          
                <div class="lower-log">
                    <h3 class="lower-log-head">Login With UNCC Google Account</h3>
                    <a href="{{ url_for('static', filename='base.html') }}">
                        <button class="login-google-button" type="button">Login With Google</button>
                    </a>
                </div>
            </div>
        </section>
 {% endblock %}