
{% extends 'base.html' %}
{% block title %}
<title>Visualize Page</title>
{% endblock %}
{% block content %}

<div>
    <h2>Sort By Route:</h2>
    
    <form method="POST" action="/visualize">
        <input type="radio" name="options" id="gold" value="gold"> Gold </input><br>
        <input type="radio" name="options" id="green" value="green"> Green </input><br>
        <input type="radio" name="options" id="silver" value="silver"> Silver </input><br>
        <input type="submit" type="button" value="Visualize" name="Visualize"/>
    </form>
   <p>{{ item }}</p>
</div>

 {% endblock %}