/* Body Style */
body {
	text-align: center
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

/* Header Style */
.header {
	padding: 5px;
	background: #005640;
	color: white;
	margin:0;
}
.header a{
	padding: 5px;
	display:inline-block;
	color: white;
}
.header a.left {
	float:left;
}
.header a.right {
	float:right;
}

hr.solid {
  border-top:3px solid #a49665;
  border-bottom:3px solid #a49665;
  margin: 0;
}

p {
	text-align: center
}

/* Navbar Style */
.navbar {
	overflow: hidden;
	background-color: #0c7544;
	margin:0;
	
}

/* Navbar Link Style */
.navbar a {
	float: left;
	display: block;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	margin: 0;
}

/* Navbar Color Change when Highlighted */
.navbar a:hover {
	background-color: #bcbbbd
}

/* Sends Navbar Link to the Right */
.navbar a.right {
	float: right;
}

/* Main Body Style */
.main {
	text-align: center
	-ms-flex: 70%; /* IE10 */
	flex: 70%;
	background-color: white;
	padding: 20px;
}

/* Puts images inline */
.imgContainer {
	display: inline-block;
	width: 300px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}

/* Adjusts Images */
.imgContainer img {
	width: 100%;
	hight: auto;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style-type: none;
}
li {
  float: center;
}

#gallary li {
	padding-right: 10px;
	display: inline;
}

#tournamentInfo {
	font-size: 30px;
	font-weight: bold;
	text-align: center
}