<!DOCTYPE html>
<!--Author: Jonathan Martinez -->
<!--Contributors: Chase Moeller, Cameron Pacileo, Jared Beightol-->
<html lang="en">
    <head>        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}{% endblock %}
        <meta name="description" content="One of many pages">
        <meta name="keyword" content="Just a page">
        <link rel="stylesheet" href="{{ url_for('static', filename='homeStyle.css') }}">
    </head>
        
    <body>

        <div class="header">
            <a href="/"><img src="static/logo.png" height="100" width="300" class="left" alt=""/></a>
        </div>

        <p>
            <hr>
        </p>

        <div class="navbar">
            <div class="container">
                <nav>
                    <ul class="primary-nav">
                        <li class="current"><a href="#">Home</a></li>
                        <li><a href="{{ url_for('static', filename='base.html') }}">Upload</a></li>
                        <li><a href="{{ url_for('visualize') }}">Visualize</a></li>
                        <li><a href="{{ url_for('static', filename='base.html') }}">Export</a></li>
                        <li><a href="{{ url_for('static', filename='base.html') }}">Admin</a></li>
                        <li><a href="{{ url_for('about') }}"> About</a></li>
                        <li><a href="{{ url_for('upload') }}"> Upload</a></li>
                    </ul>
                    <ul class="secondary-nav">   
                        {% if user %}
                                <li><a href="{{ url_for('logout') }}">Logout</a><li class="username"> User: {{user}} </li></li>
                            {% else %}
                                <li><a href="{{ url_for('login') }}">Login</a></li>
                                <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                            {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>